/*.row div {
	border: 1px solid black;
	margin: 10px, 0;
}*/

.col-md-3 {
	border:	1px solid black;
}

.carTitle {
	border:	1px solid black;
}

.carDescription {
	border:	1px solid black;
}

.carFooter {
	border:	1px solid black;
}

.strongBorder {
	border: 3px solid black;
}

.greybcg {
	background-color: lightblue;
}